  body{
  background: linear-gradient(135deg, #667eea 0%, #764bb2 100%);
           font-family: sans-serif;
            text-align: center;
           padding: 50px;
           color:white

}
h1{
 font-family:'Segoe UI';
 text-align: center;
  font-size: 60px;

}
.core{
  background: white;
  padding:15px;
  border-radius: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;    
  list-style-type: none;
}
ol{
 margin: 0 auto;
 padding: 0;          
  max-width: 500px;
}
   .home-btn {
            position: fixed;
            top: 20px;
            right: 30px;
            background: rgba(255, 255, 255, 0.2);
            color: white;
            text-decoration: none;
            padding: 8px 20px;
            border-radius: 30px;
            border: 1.5px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            z-index: 1000;
            transition: 0.3s;
        }

        .home-btn:hover {
            background: white;
            color: #6a11cb;
        }


